<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/output.css" rel="stylesheet">
    </head>
    <body class="bg-slate-950">
        <%- include('_header.ejs') %>
        <div class="px-20 md:px-40 lg:px-80">
        <%- body %>
        </div>
        <%- include('_footer.ejs') %>
        <%-script %>
    </body>
</html>